
/.buildpath
/.project
/.settings
/*/.settings
/*/.buildpath
/*/.project
/generator/nbproject/private/
/AutoMicrosite/nbproject/private/
/manual/nbproject/private/
/rules/nbproject/private/
/RuleMLApp/nbproject/private/
/RuleMLApp/build/
/RuleMLApp/dist/
/RuleMLApp2/nbproject/private/
/RuleMLApp2/build/
/RuleMLApp2/dist/
/RuleMlApp2/nbproject/private/
/RuleMlApp2/build/
/RuleMlApp2/dist/