
/.buildpath
/.project
/.settings
/*/.settings
/*/.buildpath
/*/.project
/generator/nbproject/private/
/AutoMicrosite/nbproject/private/
/manual/nbproject/private/
/rules/nbproject/private/
/RuleMLApp/nbproject/private/
/RuleMLApp/build/
/RuleMLApp/dist/