<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>MASHUP TITLE HERE</title>
	<style type="text/css">
		html {
			height: 100%;
		}
		body {
			font-family: sans-serif;
			font-size: 1em;
			color: #000;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
		}
		.content {
			width: 100%;
			height: 50%;
			overflow: hidden;
		}
		.placeholder {
			width: 100%;
			height: 100%;
		}
		.placeholder.halfLeft {
			float: left;
			width: 50%;
		}
		.placeholder.halfRight {
			float: right;
			width: 50%;
		}
	</style>
	<!-- Mashup files are automatically appended to the end of head element -->
</head>
<body>
	<div class="content">
		<div class="placeholder" itemscope itemtype="http://automicrosite.maesalu.com/TemplatePlaceholder" itemid="tableWidget1">
			<span>Loading content...</span>
			<meta itemprop="category" content="http://schema.org/Table" />
		</div>
	</div>
	<div class="content">
		<div class="placeholder halfLeft" itemscope itemtype="http://automicrosite.maesalu.com/TemplatePlaceholder" itemid="tableWidget2">
			<span>Loading content...</span>
			<meta itemprop="category" content="http://automicrosite.maesalu.com/PieChart" />
		</div>
		<div class="placeholder halfRight" itemscope itemtype="http://automicrosite.maesalu.com/TemplatePlaceholder" itemid="formWidget3">
			<span>Loading content...</span>
			<meta itemprop="category" content="http://automicrosite.maesalu.com/LineChart" />
		</div>
	</div>
</body>
</html>