<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$title}</title>
<style type="text/css">
body {
	font-family: sans-serif;
	font-size: 1em;
	color: #000;
	margin: 0;
	padding: 0;
}
#mapOne {
	margin-top: 50px;
}
.line {
	width: 100%;
	overflow: hidden;
}
.line.top {
}
.line.middle {
}
.line.bottom {
}
.line>.left {
	float: left;
	width: 20%;
}
.line>.center {
	float: left;
}
.line>.right {
	float: right;
	width: 20%;
}
</style>
<script type="text/javascript" src="js/OpenAjaxManagedHub-all.js"></script>
<script type="text/javascript">
var dojoConfig = {
    baseUrl: "js/",
    tlmSiblingOfDojo: false,
    packages: [
        { name: "dojo", location: "lib/dojo/" }
    ]
};
oaaLoaderConfig = {
		proxy: "proxy.php"
};
</script>
<script type="text/javascript" data-dojo-config="async: true" src="js/lib/dojo/dojo.js"></script>
<script type="text/javascript" src="js/loader.js"></script>
<script type="text/javascript" src="js/PageManager.js"></script>
</head>
<body>
  <div id="mashup">Loading widgets...</div>
  <script type="text/javascript">
	require(["UT/Hans/AutoMicrosite/Mashup"], function(Mashup){
		var mashup = new Mashup({$widgetData}, "mashup");
		mashup.loadWidgets();
	});
  </script>
</body>
</html>